# Ignore directories and files
cache/
eshell/
straight/
elpa/
.python-environments/default/
.mc-lists.el
ac-comphist.dat
tramp

# Ignore invisible files
.*

# Ignore logs
*.log

# Include files
!.gitignore
!.editorconfig

